.git
.idea
database/factories
database/seeders
database/sql
database/*.txt

docker
!/docker/nginx/backend-certbot.conf
!/docker/nginx/nginx.conf
!/docker/php/fpm-pool.conf
!/docker/php/php.ini
!/docker/supervisor/supervisord-k8s.conf
!/docker/run-k8s.sh
!/docker/certbot/conf/

frontend # TODO
node_modules

# TODO change for built frontend
public
!public/css
!public/js
!public/img
!public/favicons
!public/img
!public/assets
!public/index.html
!public/index.php
!public/robots.txt

storage
!storage/config/algorithm-sort-config.json
!storage/framework/views/.gitignore
!storage/logs/.gitignore
testHttp
vendor

.env*
composer.lock
*.sql
install-docker.sh
Dockerfile*
