/node_modules
/public/hot
/public/storage
/public/exports
/storage/*.key
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.idea/*
/.vscode
storage/app/*
/*.sql
public/images/*
package-lock.json
public/js
public/css
public/img
public/video
public/index.html
public/legacy-assets-index.html.json
composer.lock
docker-compose.override.yml
docker/mariadb/data
docker/logs
